.navItemCtr {
    display: flex;
    gap: 20px;
}
.home-section{
    display: flex;
}
.app-section{
    width: 50%;
}
.navBtn{
    height: 40px;
    padding: 2px 28px;
    background-color: white;
    border: 1px solid lightgrey;
}
.navBtn:hover{
    background-color: lightgrey;
    cursor: pointer;
}
.navBtn.selected{
    font-weight: 600;
    background: darkorange;
    color: white;
    border-radius: 4px;
}
.nav-cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff4444;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}